body {
    background-color: rgb(37, 36, 41);
    color: rgb(231, 231, 231);
    margin: 0;
    height: 100%;
    font-size: larger;
}

.navbar {
    padding: 50px 0 50px 0;
}

p {
    text-align: center;
    padding: 50px 0 50px;
    font-size: larger;
}

a {
    text-decoration: none;
    color: #dededf;
    font-size: larger;
}

a:hover {
    text-decoration: underline;
}

@font-face {
    font-family: Seido;
    src: url(Bw\ Seido\ Round\ DEMO\ Regular\ 400.otf);
}

#author-name {
    font-size: 25px;
    color: #dededf;
    display: inline-block;
    margin-top: 6px;
}

.navbar-ul {
    display: inline-block;
    margin: 0;
    padding: 10px 0 10px 0;
    margin-left: 20px;
}

.nav-list {
    list-style-type: none;
    margin: 0 10px 0 20px;
}

.alignable,
.pull-left,
.pull-right {
    display: inline-block;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.container {
    max-width: 700px;
    margin: auto;
}

.wrapper {
    min-height: 100%;
    font-family: "Seido";
    margin-bottom: 5%;
}
.giphy-embed {
    pointer-events: none;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}